.signin_pet{
    background-image: url('../../../public/images/minnie.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    /* border: 1px solid purple; */
}

.signin_component{
    font-family: 'Montserrat', sans-serif;
}

.signin_email, .signin_password{
    /* color:  var(--primary-color); */
    color: #9DB557;
    font-size: 18px;
    font-weight: 600;
}

.signin_btn{
    background-color:  var(--primary-color) !important;
    /* background-color: #9DB557 !important; */
    /* background: linear-gradient(270deg, #9DB557 0%,  #228B22 100%) !important; */
    color: #fff !important;
}