nav{
    font-family: 'Montserrat', sans-serif;
}

.nav_home, .nav_signup, .nav_logout, .nav_signin{
    text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      color:  var(--primary-color);
}
.nav_signup, .nav_logout, .nav_signin{
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: 10px;
}

.nav_home{
    font-size: 29px;
    font-weight: 600;
}

@media (max-width:991px){
    .nav_home{
        position: relative;
        top: 8px;
    }    
}