.users {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }
  
  .user {
    
  }
  
  .users-form {
    margin-bottom: 20px;
  }

.gallery_component{
  font-family: 'Montserrat', sans-serif;
}

.sign_unauth{
  color: var(--primary-color);
  font-weight: 600;
}

.sign_auth{
  color: var(--primary-color);
  /* font-weight: 600; */
}

.image_gallery{
  position: relative;
  /* border: 1px solid green; */
}
.search_results{
  position: absolute;
  /* border: 1px solid red; */
  width: 100%;
}
.search_results_col{
  background-color: black;
}
.pet-col{
  font-size: 18px;
  margin-bottom: 10px;
  /* border: 1px solid red; */
}
.pet-img{
  max-height: 250px !important;
  /* border: 1px solid green; */
  border-radius: 10px;
}

.no_search{
  color: var(--primary-color);
  font-weight: 600;
}